/* Boilerplate */

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* Boilerplate End */

/* Global Veriables  CSS*/

.donebtncomplete {
    color: green !important;
}

.completedtask {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.5;
}

.daybg {
    background: -webkit-linear-gradient(to left, #2980b9, #6dd5fa);
    background: linear-gradient(to left, #2980b9, #6dd5fa);
}

.nightbg {
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

:root {
    --white-text-color: #fff;
    --gray-text-color: #eee;
    --black-text-color: #111;
    --primary-border-color: #eee;
    --secondary-border-color: #ccc;
}

/* Global Veriables End*/

/* Containers */

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_container {
    position: absolute;
    border-radius: 10px;
    box-shadow: -5px 20px 50px -14px rgba(0, 0, 0, 0.90);
    width: 30%;
    max-width: 760px;
    min-width: 500px;
    height: fit-content;
    display: table;
    border-radius: 10px;
}

.input-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem;
}

/* Containers End */

/* Header Of Todo App */
.bodyhead {
    background-color: #fff;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    z-index: 10;
    display: block;
}

.todoname {
    color: var(--white-text-color);
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.date {
    width: 100%;
    text-align: center;
    height: 10%;
    position: relative;
    bottom: 0;
}

#dato,
#month,
#year {
    font-size: large;
    color: var(--gray-text-color);
    font-family: monospace;
    margin: 0;
}

#todonamechange {
    border: none;
    background-color: transparent;
    color: var(--white-text-color);
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    outline: none;
    width: 95%;
    resize: none;
    overflow: hidden;
    padding: 1rem;
}

#todonamechange::placeholder {
    color: var(--white-text-color);
    opacity: 1;
}
label {
    display: none;
}

/* Header Of Todo App End*/

/* Body */

.app-body {
    display: block;
    height: auto;
    height: auto;
    max-height: 560px;
}

/* List */

.ullist {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 0;
    overflow-y: auto;
    max-height: 432px;
    margin-bottom: 0;
}

.todoitems {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    -ms-flex-pack: justify;
}

.items {
    border-radius: 4px;
    padding: 1rem;
    width: 60%;
    border: none;
    font-size: 1.1rem;
    font-family: monospace;
}

#listinput,
#additembtn {
    padding: 1rem;
}

#listinput {
    background-color: var(--primary-border-color);
    border: none;
    width: 60%;
    color: var(--black-text-color);
    border-radius: 4px 0px 0px 4px;
    font-family: monospace;
}

/* List End */

/* Buttons */

.donebtn,
.delbtn {
    color: #888;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    outline: none;
    position: relative;
    align-self: center;
}

.donebtn:hover {
    color: green;
}

.delbtn:hover {
    color: red;
}

#additembtn {
    background-color: var(--white-text-color);
    border: 2px solid #eee;
    border-radius: 0px 0px 4px 4px;
    color: var(--black-text-color);
    text-align: center;
    outline: none;
}

#additembtn:disabled {
    opacity: 0.2;
}

#additembtn:hover {
    opacity: 0.8;
}

/* Buttons End */

/* Body End  */

/* Footer  */

.footer {
    background-color: var(--white-text-color);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.socialicons>.fab {
    margin-left: 0.5rem;
    color: var(--white-text-color);
}

a:visited,
i:visited {
    text-decoration: none;
    color: var(--black-text-color);
}
a {
    color: #111;
    text-decoration: none;
}
/* Footer End  */

/* Media Query For Phones */

@media only screen and (max-width: 500px) {
    .app_container {
        width: 100%;
        top: 0;
        min-width: initial;
        box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.90);
        height: 100vh;
        max-height: 100%
    }
    .bodyhead,
    .footer {
        border-radius: 0px;
    }
    .footer {
        position: absolute;
        bottom: 0;
    }
    .flex-container {
        align-items: end;
    }
    .ullist {
        max-width: 100vw;
        overflow: auto;
        max-height: 100%
    }
    .app-body {
        max-height: 100%
    }
    #todonamechange {
        font-size: 3rem;
        overflow: hidden;
    }
    #listinput,
    #additembtn {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 310px) {
    #todonamechange {
        font-size: 2.5rem;
    }
}

/* Media Query For Phones End */

/* List Animations */

/* Webkit Scrollbar Material */

::-webkit-scrollbar {
    background-color: var(--white-text-color);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-border-color);
    border-radius: 10px 10px 10px 10px;
}

/* Webkit Scrollbar Material End */
